.text-center {
  text-align: center;
 background-color:purple;
  color: whitesmoke;
  border:3px solid black;

}

.mx-auto{
  margin: auto;
  
}
.flex{
display: flex;
  
}
.flex-col{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-color{
  background-color: violet;
}
